body {
  font-family: 'Arial', sans-serif;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.widget-container {
  width: 100%;
  max-width: 45rem;
  background-color: #fff;
  padding: 2rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.141);
  background-image: url(../img/bb.jpg);
  background-size: 70em;
  border-radius: 10px;
}

.masthead img {
  width: 20%;
  padding-left: 17em;
}

.masthead p {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 0.5rem;
  color: #ffffff; 
}

.main-content input, .main-content button {
  margin: 1rem 0;
  padding: 0.5rem;
  width: calc(100% - 1rem);
  box-sizing: border-box;
}

.main-content button {
  background-color: #ffffff; 
  color: #000000;
  font-size: 14px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.main-content button:hover {
  background-color: #ffffffa4; 
}

.footer a {
  margin-right: 1rem;
  color: #ffffff; 
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

@media (max-width: 800px) {
  .masthead img {
    width: 60%;
    padding-left: 6em;
  }

  .widget-container {
    width: 80%;
  }
}
